{{ define "main" }}
<style> .main { padding:0px !important; }</style>

<div style="background: url(/img/homepage/1.webp); background-repeat: no-repeat;
background-size: cover;" class="banner row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
    <div>
        <h1>Learn the Flipping Business</h1>
        <p>Discover the courses and skills to make an income through flipping.</p>
        <a class="btn btn-primary" href="/posts/">Explore Courses</a>
    </div>    
</div>
<div class="container">
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <img src="/img/homepage/2.webp" alt="Amazon FBA">
        <div>
            <h3>Amazon FBA</h3>
            <p>Sell products through Amazon's Fulfillment by Amazon program.</p>
            <a href="" class="btn btn-secondary">Learn More</a>
        </div>
    </div>
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <div class="col gy-5">
            <h3>Car Flipping</h3>
            <p>Flip cars for a profit.</p>
            <a href="" class="btn btn-secondary">Learn More</a>
        </div>
        <img src="/img/homepage/3.webp" loading="lazy" alt="Car Flipping">
    </div>
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <img src="/img/homepage/4.webp"  loading="lazy" alt="eBay Selling">
        <div>
            <h3>eBay Selling</h3>
            <p>Sell items on eBay for a profit.</p>    
            <a href="" class="btn btn-secondary">Learn More</a>
        </div>
    </div>
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <div class="col gy-5">
            <h3>Facebook Marketplace</h3>
            <p>Sell items on Facebook Marketplace.</p>
            <a href="" class="btn btn-secondary">Learn More</a>
        </div>
        <img src="/img/homepage/5.webp" loading="lazy" alt="Facebook Marketplace">
    </div>
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <img src="/img/homepage/6.webp" loading="lazy" alt="High-End Flipping">
        <div>
            <h2>High-End Flipping</h2>
            <p>Flip high-end items for a profit
                <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
                    <img src="/img/homepage/6.webp"  loading="lazy" alt="Online Arbitrage">
                    <div>
                        <h3>Online Arbitrage</h3>
                        <p>Buy low and sell high using online marketplaces for a profit.</p>    
                        <a href="" class="btn btn-secondary">Learn More</a>
                    </div>
                </div>            
{{ end }}

